body {
  font-family: monospace;
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

canvas {
  border:1px solid black;
}

.mods {
  margin-top: 8px;
}

.on {
  background-color: #22ee22;
}

.off {
  background-color: #117711;
}
